.book_avatar img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 150px;
  padding: 0;
}

button p {
  margin: 0 !important;
}

.div_middle {
  height: initial;
}

.main_content {
  float: initial !important;
}

footer .logo {
  width: 300px;
}

footer {
  padding-bottom: 50px;
}

body .content .pagination p {
  border: 0;
}